@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Megrim&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poiret+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rye&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700);
@font-face {
  font-family: "TsukushiBMaruGothic";
  src: url("../font/TsukushiBMaruGothic.ttc") format("truetype");
}
@font-face {
  font-family: "Klee";
  src: url("../font/Klee.ttc") format("truetype");
}
.neu-skeuos {
  /*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
  /* Reset box-model and set borders */
  /* ============================================ */
  /* Document */
  /* ============================================ */
  /**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   * 3. Remove gray overlay on links for iOS.
   */
  /* Sections */
  /* ============================================ */
  /**
   * Remove the margin in all browsers.
   */
  /**
   * Render the `main` element consistently in IE.
   */
  /* Vertical rhythm */
  /* ============================================ */
  /* Headings */
  /* ============================================ */
  /* Lists (enumeration) */
  /* ============================================ */
  /* Lists (definition) */
  /* ============================================ */
  /* Grouping content */
  /* ============================================ */
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  /* Text-level semantics */
  /* ============================================ */
  /**
   * Remove the gray background on active links in IE 10.
   */
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  /**
   * Add the correct font size in all browsers.
   */
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  /* Replaced content */
  /* ============================================ */
  /**
   * Prevent vertical alignment issues.
   */
  /* Forms */
  /* ============================================ */
  /**
   * Reset form fields to make them styleable.
   * 1. Make form elements stylable across systems iOS especially.
   * 2. Inherit text-transform from parent.
   */
  /**
   * Reset radio and checkbox appearance to preserve their look in iOS.
   */
  /**
   * Correct cursors for clickable elements.
   */
  /**
   * Improve outlines for Firefox and unify style with input elements & buttons.
   */
  /**
   * Remove padding
   */
  /**
   * Reset to invisible
   */
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  /**
   * 1. Correct the outline style in Safari.
   */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Fix font inheritance.
   */
  /**
   * Clickable labels
   */
  /* Interactive */
  /* ============================================ */
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  /*
   * Add the correct display in all browsers.
   */
  /*
   * Remove outline for editable content.
   */
  /* Tables */
  /* ============================================ */
  /**
  1. Correct table border color inheritance in all Chrome and Safari.
  */
}
.neu-skeuos *,
.neu-skeuos ::before,
.neu-skeuos ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
.neu-skeuos html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}
.neu-skeuos body {
  margin: 0;
}
.neu-skeuos main {
  display: block;
}
.neu-skeuos p,
.neu-skeuos table,
.neu-skeuos blockquote,
.neu-skeuos address,
.neu-skeuos pre,
.neu-skeuos iframe,
.neu-skeuos form,
.neu-skeuos figure,
.neu-skeuos dl {
  margin: 0;
}
.neu-skeuos h1,
.neu-skeuos h2,
.neu-skeuos h3,
.neu-skeuos h4,
.neu-skeuos h5,
.neu-skeuos h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
.neu-skeuos ul,
.neu-skeuos ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.neu-skeuos dt {
  font-weight: bold;
}
.neu-skeuos dd {
  margin-left: 0;
}
.neu-skeuos hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}
.neu-skeuos pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}
.neu-skeuos address {
  font-style: inherit;
}
.neu-skeuos a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
.neu-skeuos abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
.neu-skeuos b,
.neu-skeuos strong {
  font-weight: bolder;
}
.neu-skeuos code,
.neu-skeuos kbd,
.neu-skeuos samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}
.neu-skeuos small {
  font-size: 80%;
}
.neu-skeuos sub,
.neu-skeuos sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.neu-skeuos sub {
  bottom: -0.25em;
}
.neu-skeuos sup {
  top: -0.5em;
}
.neu-skeuos svg,
.neu-skeuos img,
.neu-skeuos embed,
.neu-skeuos object,
.neu-skeuos iframe {
  vertical-align: bottom;
}
.neu-skeuos button, .neu-skeuos .checktext input + span, .neu-skeuos button.blue-button, .neu-skeuos .blue-button.red-button, .neu-skeuos .blue-button.green-button, .neu-skeuos input[type=button].blue-button, .neu-skeuos input[type=submit].blue-button, .neu-skeuos input[type=reset].blue-button, .neu-skeuos .blue-button, .neu-skeuos .checktext input:checked + span, .neu-skeuos button.green-button, .neu-skeuos .green-button.red-button, .neu-skeuos input[type=button].green-button, .neu-skeuos input[type=submit].green-button, .neu-skeuos input[type=reset].green-button, .neu-skeuos .green-button, .neu-skeuos button.red-button, .neu-skeuos input[type=button].red-button, .neu-skeuos input[type=submit].red-button, .neu-skeuos input[type=reset].red-button, .neu-skeuos .red-button,
.neu-skeuos input,
.neu-skeuos optgroup,
.neu-skeuos select,
.neu-skeuos textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}
.neu-skeuos [type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}
.neu-skeuos [type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}
.neu-skeuos button, .neu-skeuos .checktext input + span, .neu-skeuos button.blue-button, .neu-skeuos .blue-button.red-button, .neu-skeuos .blue-button.green-button, .neu-skeuos input[type=button].blue-button, .neu-skeuos input[type=submit].blue-button, .neu-skeuos input[type=reset].blue-button, .neu-skeuos .blue-button, .neu-skeuos .checktext input:checked + span, .neu-skeuos button.green-button, .neu-skeuos .green-button.red-button, .neu-skeuos input[type=button].green-button, .neu-skeuos input[type=submit].green-button, .neu-skeuos input[type=reset].green-button, .neu-skeuos .green-button, .neu-skeuos button.red-button, .neu-skeuos input[type=button].red-button, .neu-skeuos input[type=submit].red-button, .neu-skeuos input[type=reset].red-button, .neu-skeuos .red-button,
.neu-skeuos [type=button],
.neu-skeuos [type=reset],
.neu-skeuos [type=submit] {
  cursor: pointer;
}
.neu-skeuos button:disabled, .neu-skeuos .checktext input + span:disabled, .neu-skeuos .blue-button:disabled, .neu-skeuos .green-button:disabled, .neu-skeuos .red-button:disabled,
.neu-skeuos [type=button]:disabled,
.neu-skeuos [type=reset]:disabled,
.neu-skeuos [type=submit]:disabled {
  cursor: default;
}
.neu-skeuos :-moz-focusring {
  outline: auto;
}
.neu-skeuos select:disabled {
  opacity: inherit;
}
.neu-skeuos option {
  padding: 0;
}
.neu-skeuos fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}
.neu-skeuos legend {
  padding: 0;
}
.neu-skeuos progress {
  vertical-align: baseline;
}
.neu-skeuos textarea {
  overflow: auto;
}
.neu-skeuos [type=number]::-webkit-inner-spin-button,
.neu-skeuos [type=number]::-webkit-outer-spin-button {
  height: auto;
}
.neu-skeuos [type=search] {
  outline-offset: -2px;
  /* 1 */
}
.neu-skeuos [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.neu-skeuos ::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
.neu-skeuos label[for] {
  cursor: pointer;
}
.neu-skeuos details {
  display: block;
}
.neu-skeuos summary {
  display: list-item;
}
.neu-skeuos [contenteditable]:focus {
  outline: auto;
}
.neu-skeuos table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}
.neu-skeuos caption {
  text-align: left;
}
.neu-skeuos td,
.neu-skeuos th {
  vertical-align: top;
  padding: 0;
}
.neu-skeuos th {
  text-align: left;
  font-weight: bold;
}
.neu-skeuos :root {
  --bg-color: #f2f3f7;
  --fg-color: #7b7e8c;
  --red: #E43030;
  --green: #19A187;
  --blue: #367bf0;
  --dark-blue: #265AB1;
  --maroon: #B8174C;
  --purple: #8C42AB;
}
.neu-skeuos .selectable {
  cursor: auto;
  user-select: text;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
.neu-skeuos .with-shadow, .neu-skeuos .outset, .neu-skeuos button, .neu-skeuos .checktext input + span, .neu-skeuos button.blue-button, .neu-skeuos .blue-button.red-button, .neu-skeuos .blue-button.green-button, .neu-skeuos .blue-button, .neu-skeuos .checktext input:checked + span, .neu-skeuos button.green-button, .neu-skeuos .green-button.red-button, .neu-skeuos .green-button, .neu-skeuos button.red-button, .neu-skeuos .red-button, .neu-skeuos input[type=button], .neu-skeuos input[type=submit], .neu-skeuos input[type=reset], .neu-skeuos select, .neu-skeuos input[type=text]:not(select):focus, .neu-skeuos input[type=search]:not(select):focus, .neu-skeuos input[type=tel]:not(select):focus, .neu-skeuos input[type=url]:not(select):focus,
.neu-skeuos input[type=email]:not(select):focus, .neu-skeuos input[type=password]:not(select):focus, .neu-skeuos input[type=date]:not(select):focus,
.neu-skeuos input[type=month]:not(select):focus, .neu-skeuos input[type=week]:not(select):focus, .neu-skeuos input[type=time]:not(select):focus,
.neu-skeuos input[type=number]:not(select):focus, .neu-skeuos input[type=color]:not(select):focus, .neu-skeuos select:not(select):focus, .neu-skeuos textarea:not(select):focus, .neu-skeuos .paper {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1), -6px -6px 10px white;
}
.neu-skeuos .outset, .neu-skeuos button, .neu-skeuos .checktext input + span, .neu-skeuos button.blue-button, .neu-skeuos .blue-button.red-button, .neu-skeuos .blue-button.green-button, .neu-skeuos .blue-button, .neu-skeuos .checktext input:checked + span, .neu-skeuos button.green-button, .neu-skeuos .green-button.red-button, .neu-skeuos .green-button, .neu-skeuos button.red-button, .neu-skeuos .red-button, .neu-skeuos input[type=button], .neu-skeuos input[type=submit], .neu-skeuos input[type=reset], .neu-skeuos select, .neu-skeuos input[type=text]:not(select):focus, .neu-skeuos input[type=search]:not(select):focus, .neu-skeuos input[type=tel]:not(select):focus, .neu-skeuos input[type=url]:not(select):focus,
.neu-skeuos input[type=email]:not(select):focus, .neu-skeuos input[type=password]:not(select):focus, .neu-skeuos input[type=date]:not(select):focus,
.neu-skeuos input[type=month]:not(select):focus, .neu-skeuos input[type=week]:not(select):focus, .neu-skeuos input[type=time]:not(select):focus,
.neu-skeuos input[type=number]:not(select):focus, .neu-skeuos input[type=color]:not(select):focus, .neu-skeuos select:not(select):focus, .neu-skeuos textarea:not(select):focus, .neu-skeuos .paper {
  border-radius: 10px;
  background: #f2f3f7;
}
.neu-skeuos .inset, .neu-skeuos hr, .neu-skeuos button.active, .neu-skeuos .checktext input + span.active, .neu-skeuos .active.blue-button, .neu-skeuos .active.green-button, .neu-skeuos .active.red-button, .neu-skeuos button:active, .neu-skeuos .checktext input + span:active, .neu-skeuos .blue-button:active, .neu-skeuos .green-button:active, .neu-skeuos .red-button:active, .neu-skeuos input[type=button].active, .neu-skeuos input[type=button]:active, .neu-skeuos input[type=submit].active, .neu-skeuos input[type=submit]:active, .neu-skeuos input[type=reset].active, .neu-skeuos input[type=reset]:active, .neu-skeuos input[type=text]:not(select), .neu-skeuos input[type=search]:not(select), .neu-skeuos input[type=tel]:not(select), .neu-skeuos input[type=url]:not(select),
.neu-skeuos input[type=email]:not(select), .neu-skeuos input[type=password]:not(select), .neu-skeuos input[type=date]:not(select),
.neu-skeuos input[type=month]:not(select), .neu-skeuos input[type=week]:not(select), .neu-skeuos input[type=time]:not(select),
.neu-skeuos input[type=number]:not(select), .neu-skeuos input[type=color]:not(select), .neu-skeuos select:not(select), .neu-skeuos textarea:not(select) {
  border-radius: 10px;
  box-shadow: 0 0 transparent, 0 0 transparent, inset 3px 3px 5px rgba(0, 0, 0, 0.1), inset -3px -3px 5px white;
  background: #f8f9fb;
}
.neu-skeuos .paper {
  padding: 10px 20px 20px;
  margin-top: 20px;
  min-height: 100px;
  font-size: 1.2em;
  background: #f2f3f7;
}
.neu-skeuos section, .neu-skeuos article, .neu-skeuos .section, .neu-skeuos .article, .neu-skeuos .paper {
  line-height: 2em;
  word-wrap: break-word;
  word-break: normal;
  line-height: 2em;
}
.neu-skeuos input[type=text], .neu-skeuos input[type=search], .neu-skeuos input[type=tel], .neu-skeuos input[type=url],
.neu-skeuos input[type=email], .neu-skeuos input[type=password], .neu-skeuos input[type=date],
.neu-skeuos input[type=month], .neu-skeuos input[type=week], .neu-skeuos input[type=time],
.neu-skeuos input[type=number], .neu-skeuos input[type=color], .neu-skeuos select, .neu-skeuos textarea {
  border: 0;
  background: #f2f3f7;
  color: #7b7e8c;
  font-weight: normal;
  padding: 0 1.25em;
  line-height: 1.25em;
  height: 3.5em;
  margin: 10px 0;
  font-size: 1.1rem;
  cursor: text;
  user-select: text;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  transition: box-shadow 0.2s;
}
.neu-skeuos textarea {
  height: 350px;
  padding: 1.25em;
}
.neu-skeuos select {
  cursor: pointer;
  background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxOSAxOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyB0cmFuc2Zvcm09Im1hdHJpeCguMDM0IDAgMCAuMDM0IC02LjggMS43ZS01KSIgc3R5bGU9ImZpbGw6IzdiN2U4YyI+PHBhdGggZD0ibTQ4MCAzNDQtMjExLTIxMmMtMTYtMTYtNDEtMTYtNTcgMC0xNiAxNi0xNiA0MiAwIDU3bDIzOCAyMzljOC40IDguNSAyMCAxMiAzMSAxMiAxMSAwLjU2IDIyLTMuMiAzMS0xMmwyMzgtMjM5YzE2LTE2IDE2LTQyIDAtNTdzLTQxLTE2LTU3IDB6IiBzdHlsZT0iZmlsbDojN2I3ZThjIi8+PC9nPjwvc3ZnPgo=) no-repeat right 1em center;
  background-size: 1.2em;
  padding-right: 3em;
}
.neu-skeuos input::-moz-placeholder, .neu-skeuos textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
  color: inherit;
}
.neu-skeuos input:-ms-input-placeholder, .neu-skeuos textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  color: inherit;
}
.neu-skeuos input::placeholder, .neu-skeuos textarea::placeholder {
  opacity: 1;
  transition: opacity 0.2s;
  color: inherit;
}
.neu-skeuos input:focus::-moz-placeholder, .neu-skeuos textarea:focus::-moz-placeholder {
  opacity: 0.2;
}
.neu-skeuos input:focus:-ms-input-placeholder, .neu-skeuos textarea:focus:-ms-input-placeholder {
  opacity: 0.2;
}
.neu-skeuos input:focus::placeholder, .neu-skeuos textarea:focus::placeholder {
  opacity: 0.2;
}
.neu-skeuos input:-ms-input-placeholder, .neu-skeuos textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  color: inherit;
}
.neu-skeuos input:focus:-ms-input-placeholder, .neu-skeuos textarea:focus:-ms-input-placeholder {
  opacity: 0.2;
}
.neu-skeuos input[type=search]::-webkit-search-decoration,
.neu-skeuos input[type=search]::-webkit-search-cancel-button,
.neu-skeuos input[type=search]::-webkit-search-results-button,
.neu-skeuos input[type=search]::-webkit-search-results-decoration {
  display: none;
}
.neu-skeuos button, .neu-skeuos .checktext input + span, .neu-skeuos button.blue-button, .neu-skeuos .blue-button.red-button, .neu-skeuos .blue-button.green-button, .neu-skeuos .blue-button, .neu-skeuos .checktext input:checked + span, .neu-skeuos button.green-button, .neu-skeuos .green-button.red-button, .neu-skeuos .green-button, .neu-skeuos button.red-button, .neu-skeuos .red-button, .neu-skeuos input[type=button], .neu-skeuos input[type=submit], .neu-skeuos input[type=reset] {
  border: 0;
  text-transform: capitalize;
  padding: 10px 0;
  width: 8em;
  text-align: center;
  cursor: pointer;
  color: inherit;
  font-size: 1.1rem;
  transition-property: background-color, box-shadow;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
.neu-skeuos button.active, .neu-skeuos .checktext input + span.active, .neu-skeuos .active.blue-button, .neu-skeuos .active.green-button, .neu-skeuos .active.red-button, .neu-skeuos button:active, .neu-skeuos .checktext input + span:active, .neu-skeuos .blue-button:active, .neu-skeuos .green-button:active, .neu-skeuos .red-button:active, .neu-skeuos input[type=button].active, .neu-skeuos input[type=button]:active, .neu-skeuos input[type=submit].active, .neu-skeuos input[type=submit]:active, .neu-skeuos input[type=reset].active, .neu-skeuos input[type=reset]:active {
  transition-delay: 0s;
  transition-duration: 0.1s;
}
.red-button, .neu-skeuos button.red-button, .neu-skeuos .checktext input + span.red-button, .neu-skeuos .red-button.blue-button, .neu-skeuos .red-button.green-button, .neu-skeuos .red-button, .neu-skeuos .red-button, .neu-skeuos input[type=button].red-button, .neu-skeuos input[type=submit].red-button, .neu-skeuos input[type=reset].red-button {
  color: white;
  font-weight: bold;
  background: #E43030;
  box-shadow: 0 0 0.5em rgba(228, 48, 48, 0.7), 0 0 transparent, inset 0 -5px 0 rgba(0, 0, 0, 0.05), inset 0 2px 0 rgba(255, 255, 255, 0.2);
  border-radius: 6px 6px 8px 8px;
  transition-property: box-shadow, border-radius;
}
.red-button.active, .red-button:active, .neu-skeuos button.red-button.active, .neu-skeuos .red-button.active, .neu-skeuos button.red-button:active, .neu-skeuos .red-button:active, .neu-skeuos input[type=button].red-button.active, .neu-skeuos input[type=button].red-button:active, .neu-skeuos input[type=submit].red-button.active, .neu-skeuos input[type=submit].red-button:active, .neu-skeuos input[type=reset].red-button.active, .neu-skeuos input[type=reset].red-button:active {
  background: #E43030;
  border-radius: 6px;
  box-shadow: 0 0 transparent, 0 0 transparent, inset 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.green-button, .neu-skeuos button.green-button, .neu-skeuos .checktext input + span.green-button, .neu-skeuos .green-button.blue-button, .neu-skeuos .green-button, .neu-skeuos .green-button.red-button, .neu-skeuos .green-button, .neu-skeuos input[type=button].green-button, .neu-skeuos input[type=submit].green-button, .neu-skeuos input[type=reset].green-button {
  color: white;
  font-weight: bold;
  background: #19A187;
  box-shadow: 0 0 0.5em rgba(25, 161, 135, 0.7), 0 0 transparent, inset 0 -5px 0 rgba(0, 0, 0, 0.05), inset 0 2px 0 rgba(255, 255, 255, 0.2);
  border-radius: 6px 6px 8px 8px;
  transition-property: box-shadow, border-radius;
}
.green-button.active, .green-button:active, .neu-skeuos button.green-button.active, .neu-skeuos .green-button.active, .neu-skeuos button.green-button:active, .neu-skeuos .green-button:active, .neu-skeuos input[type=button].green-button.active, .neu-skeuos input[type=button].green-button:active, .neu-skeuos input[type=submit].green-button.active, .neu-skeuos input[type=submit].green-button:active, .neu-skeuos input[type=reset].green-button.active, .neu-skeuos input[type=reset].green-button:active {
  background: #19A187;
  border-radius: 6px;
  box-shadow: 0 0 transparent, 0 0 transparent, inset 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.blue-button, .neu-skeuos .checktext input:checked + span, .neu-skeuos button.blue-button, .neu-skeuos .checktext input + span.blue-button, .neu-skeuos .blue-button, .neu-skeuos .blue-button.red-button, .neu-skeuos .blue-button.green-button, .neu-skeuos .blue-button, .neu-skeuos input[type=button].blue-button, .neu-skeuos input[type=submit].blue-button, .neu-skeuos input[type=reset].blue-button {
  color: white;
  font-weight: bold;
  background: #367bf0;
  box-shadow: 0 0 0.5em rgba(54, 123, 240, 0.7), 0 0 transparent, inset 0 -5px 0 rgba(0, 0, 0, 0.05), inset 0 2px 0 rgba(255, 255, 255, 0.2);
  border-radius: 6px 6px 8px 8px;
  transition-property: box-shadow, border-radius;
}
.blue-button.active, .neu-skeuos .checktext input:checked + span.active, .blue-button:active, .neu-skeuos .checktext input:checked + span:active, .neu-skeuos button.blue-button.active, .neu-skeuos .blue-button.active, .neu-skeuos button.blue-button:active, .neu-skeuos .blue-button:active, .neu-skeuos input[type=button].blue-button.active, .neu-skeuos input[type=button].blue-button:active, .neu-skeuos input[type=submit].blue-button.active, .neu-skeuos input[type=submit].blue-button:active, .neu-skeuos input[type=reset].blue-button.active, .neu-skeuos input[type=reset].blue-button:active {
  background: #367bf0;
  border-radius: 6px;
  box-shadow: 0 0 transparent, 0 0 transparent, inset 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.neu-skeuos label {
  cursor: pointer;
  display: inline-block;
  padding: 0.56em 0;
}
.neu-skeuos a, .neu-skeuos a:link, .neu-skeuos a:visited, .neu-skeuos a:hover .neu-skeuos a:active {
  cursor: pointer;
  font-weight: bold;
  color: #367bf0;
  font-weight: bold;
  text-decoration: none;
}
.neu-skeuos h1, .neu-skeuos h2, .neu-skeuos h3, .neu-skeuos h4, .neu-skeuos h5, .neu-skeuos h6 {
  line-height: 1.5em;
}
.neu-skeuos h1 {
  font-size: 4em;
  font-weight: lighter;
  margin: 0.7em 0;
}
.neu-skeuos h2 {
  font-size: 3em;
  font-weight: lighter;
  margin: 0.8em 0;
}
.neu-skeuos h3 {
  font-size: 2.5em;
  font-weight: lighter;
  margin: 0.9em 0;
}
.neu-skeuos h4 {
  font-size: 2em;
  font-weight: lighter;
  margin: 1em 0;
}
.neu-skeuos h5 {
  margin: 0.5em 0;
  font-size: 1.2em;
  font-weight: normal;
}
.neu-skeuos h6 {
  margin: 1em 0 1em 1.4em;
  font-size: 1em;
  font-weight: bold;
}
.neu-skeuos input[type=checkbox], .neu-skeuos input[type=radio] {
  font-size: 1em;
  cursor: pointer;
  height: 1.2em;
  width: 1.2em;
  margin: 0 0.3em;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px white, inset 1px 1px 2px rgba(0, 0, 0, 0.2), inset -1px -1px 2px white;
  border: 0.15em solid #f2f3f7;
  vertical-align: text-bottom;
  transition-property: background, box-shadow;
  transition-duration: 0.2s;
}
.neu-skeuos input[type=checkbox]:active, .neu-skeuos input[type=radio]:active {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px white, inset 1px 1px 2px rgba(0, 0, 0, 0.2), inset -1px -1px 2px white, inset 0 0.1em 0.25em rgba(0, 0, 0, 0.2);
}
.neu-skeuos input[type=checkbox]:checked, .neu-skeuos input[type=radio]:checked {
  border-width: 0.1em;
  border-color: #115fe2;
  background-color: #367bf0;
}
.neu-skeuos input[type=checkbox] {
  border-radius: 25%;
}
.neu-skeuos input[type=checkbox]:checked {
  box-shadow: 0 0 0.5em rgba(54, 123, 240, 0.7), inset 0 -0.1em 0 rgba(0, 0, 0, 0.2), inset 0 0.1em 0.1em rgba(255, 255, 255, 0.2);
}
.neu-skeuos input[type=radio] {
  border-radius: 100%;
}
.neu-skeuos input[type=radio]:checked {
  box-shadow: 0 0 0.5em rgba(54, 123, 240, 0.7);
  box-shadow: 0 0 0.5em rgba(54, 123, 240, 0.7), inset 0 0.12em 0.1em rgba(255, 255, 255, 0.25);
  border-bottom-width: 0.15em;
}
.neu-skeuos .checktext {
  width: auto;
  margin: 0.5em;
}
.neu-skeuos .checktext input {
  display: none;
}
.neu-skeuos .checktext input + span {
  font-weight: bold;
  padding: 1em;
  transition-delay: 0s;
}
.neu-skeuos .checktext input:checked + span {
  padding: 1em;
}
.neu-skeuos .switch {
  height: 2.5rem;
  width: 5rem;
  padding: 0;
  position: relative;
}
.neu-skeuos .switch input {
  display: none;
}
.neu-skeuos .switch input + div {
  height: 100%;
  width: 100%;
  border-radius: 999px;
  background: transparent;
  transition-property: box-shadow, background-color;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.1), inset 2px 2px 2px 1px rgba(0, 0, 0, 0.1), inset -2px -2px 1px white;
}
.neu-skeuos .switch input + div::before {
  content: "";
  display: block;
  height: calc(2.5rem + 2px);
  width: calc(2.5rem + 2px);
  border-radius: 100%;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.1);
  transform: translate(0, -1px);
  transition: transform 0.2s;
}
.neu-skeuos .switch input:checked + div {
  background: #367bf0;
  box-shadow: 0 0 0.5em rgba(54, 123, 240, 0.7), inset 0 2px 2px 2px rgba(0, 0, 0, 0.3), inset 0 0 transparent;
}
.neu-skeuos .switch input:checked + div::before {
  transform: translate(2.5rem, -1px);
}
.neu-skeuos hr {
  width: 50%;
  height: 7px;
  border: 0;
}
.neu-skeuos code, .neu-skeuos pre {
  padding: 0.5em 1em;
  border-radius: 4px;
  overflow: auto;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05);
}
.neu-skeuos code {
  background: #E6E6E6;
}
.neu-skeuos pre {
  background: white;
  margin: 4em 0;
}
.neu-skeuos code, .neu-skeuos pre {
  font-size: 0.9rem;
  font-family: monospace;
  line-height: 2em;
  cursor: auto;
  user-select: text;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
.neu-skeuos blockquote {
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 4px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05);
  border-left: 6px solid #367bf0;
}

.modal-overlay {
  background: rgba(255, 255, 255, 0.33);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  filter: brightness(0.75);
}

.react-confirm-alert-blur {
  filter: none !important;
}

.react-confirm-alert-overlay {
  top: 30vh !important;
  background: rgba(51, 51, 51, 0.58) !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.react-confirm-alert {
  position: relative;
  width: 100vw;
  height: 50vh;
}

.custom-ui {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  text-align: center;
}

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: rgba(7,188,12,.2) !important;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: rgba(255,24,0,.25) !important;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: "TsukushiBMaruGothic" !important;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify__toast.Toastify__toast--success {
  filter: opacity(0.75);
  -webkit-backdrop-filter: blur(0.5px) drop-shadow(2px 4px 6px black);
          backdrop-filter: blur(0.5px) drop-shadow(2px 4px 6px black);
  box-shadow: none;
}

.Toastify__toast.Toastify__toast--error {
  filter: opacity(0.5);
  -webkit-backdrop-filter: blur(0.5px) drop-shadow(2px 4px 6px black);
          backdrop-filter: blur(0.5px) drop-shadow(2px 4px 6px black);
  box-shadow: none;
}

.Toastify__toast-body {
  font-size: 1.25rem !important;
}

body {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}
